@media (min-width: 1100px){
    .menubar-main > li > a {
    padding: 20px 2px;
    border-bottom: none;
    font-size: 15px;
    }
}

@media (min-width: 1200px){
    menubar-main > li > a {
        padding: 18px 6px;
        border-bottom: none;
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .menubar-main .menubox {
        position: absolute;
        top: 80px;
        left: 0;
        z-index: -40;
        width: 100%;
        height: 0;
        padding: 0;
        background-color: #0C5BB1;
        overflow: hidden;
    }
}

@media (min-width: 1300px){
    .menubar-main > li > a {
        padding-left: 4px;
        padding-right: 4px;
        font-size: 16px;
    }
}

@media (min-width: 1400px){
    .menubar-main > li > a {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 17px;
    }
}




