
@media (min-width: 768px){
    .sec-smart-board .nav-tabs .nav-item .nav-link {
        padding-bottom: 20px;
        font-size: 15px;
    }
    
    .sec-smart-board .nav-tabs .nav-item .nav-link {
        margin: 0 10px 0 0;
    }
}

@media (min-width: 1300px){
    .sec-smart-board .nav-tabs .nav-item .nav-link {
    
        font-size: 16px;
    }
}

@media (min-width: 1410px){
	.sec-smart-board .nav-tabs .nav-item .nav-link {
	
	    font-size: 18px;
	}
}