@charset "utf-8"; 

@media only screen and (min-width: 992px) {
	.w2tb.psr .w2tb_noTH {
	    padding-left: 0;
	}
}

.w2tb.w2tb_adaptive_layout .w2tb_td:before {
    padding: 4px 4px 3px;
}

.w2tb.w2tb_adaptive_layout .w2tb_td:before {
    padding-top: 8px;
    width: 128px;
    text-align: left;
}
.w2tb.w2tb_adaptive_layout .w2tb_td {
    padding-left: 132px;
}

/* CSS Document */
/**********************/
/* Layout */
/**********************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Header */
#header {
    width: 100%;
    padding: 0;    
    border-bottom: solid 1px var(--gray-light);
    position: relative;
    background: hsl(0, 0%, 100%);
}

#header > .container {
    margin: 0 auto;
    padding: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #header {
        height: 91px;
    }
    #header:before,
    #header:after {
        content: '';
        display: inline-block;
        width: 50%;
        height: 90px;
        
        position: absolute;
        top: 0;
    }
    #header:before {
        left: 0;    
        background: hsl(0, 0%, 100%);
    }
    #header:after {
        right: 0;
        background-color: var(--color2-dark);
    }
    #header > .container {
        height: 90px;

    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
	.container {
	    width: 100%;
	    max-width: 1600px;
	}
}
.navbar {
	padding: 0;
}
@media only screen and (min-width: 1200px) {

    .navbar {
        width: 50%;
        float: left;
    }
    .nav-wrap {
        width: 50%;
        float: right;
        text-align: right;
    }
    
}
@media only screen and (min-width: 1600px) {

    .navbar {
        width: 40%;
    }
    .nav-wrap {
        width: 60%;
    }
    
}

.navbar {
    padding: 10px 20px;
    margin: 0;
}
.navbar-brand {
	position: relative;
	top: auto;
	left: auto;
	
	padding: 0;
	
	width: 180px;
    height: 40px;
}
.navbar-brand:before {
    background: url('../images/logo.png') no-repeat 0 top;
    background-size: 160px;
    width: 36px;
    height: 40px;
    display: inline-block;
    content: '';
}
.navbar-brand > span {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark); 
    position: relative;
        left: 10px;
    top: -12px;
}

.nav-wrap {
    display: none;
}
/* 모바일 메뉴 아이콘
.navbar-toggler:not(:disabled):not(.disabled) {
	    cursor: pointer;
}
.navbar-light .navbar-toggler {
    background: var(--color1-dark);
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar-brand {
    }
}
@media only screen and (min-width: 600px) {
    .navbar-brand:before {
        width: 200px;
        background-size: cover;
    } 
    .navbar-brand > span {
        top: -8px;
    }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1025px) {
}
@media only screen and (min-width: 1200px) {
    .navbar {
        padding-top: 20px;
    }
    .navbar-brand {
        margin: 0;
    }
    .navbar-toggler {
        display: none;
    }
    .nav-wrap {
        display: inline-block;
    }
}

@media only screen and (min-width: 1200px) {
		.nav-wrap {
		    position: relative;
		    height: 90px;
		    left: auto;
		    z-index: 10;
		    background-color: var(--color2-dark);
		    padding-top: 10px;
		}
		
		.nav-wrap:after {   
		    content: "";
		    position: absolute; 
		    z-index: 7;
		    left: 0px;
		    bottom: 0;
		    display: block;
		    width: 120px;
		    height: 80px;
		    background: var(--color2-dark) url(../images/logo-symbol-wh.svg) no-repeat 0 center;
		    opacity: 0.16;
		}
		
		.nav-wrap:before { 
		    content: "";
		    position: absolute;
		    z-index: -1;
		    
		    left: 0px;
		    top: 0;
		    display: block;
		    width: 100%;
		    height: 90px;
		    -webkit-transform-origin: 0 0;
		    -moz-transform-origin: 0 0;
		    -ms-transform-origin: 0 0;
		    -o-transform-origin: 0 0;
		    transform-origin: 0 0;
		    -webkit-transform: skew(-40deg, 0); 
		    -moz-transform: skew(-40deg, 0);
		    -ms-transform: skew(-40deg, 0);
		    -o-transform: skew(-40deg, 0);
		    transform: skew(-40deg, 0);
		    background-color: var(--color2-dark);
		}
}
@media only screen and (min-width: 1600px) {
    .container {
        width: 100%;
        max-width: 1600px;
    }
}

.nav-wrap,
.nav-wrap a,
.nav-wrap a > label {
    color: hsl(0, 0%, 100%);
    transition: 0.3s;
    line-height: 1.2rem;
}

/* 상단 */
.staff-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.staff-info li {
    float: right;
    display: inline-block;
    
    font-size: 1rem;
    min-height: 30px;
    padding: 4px 0 0;
    margin-left: 1rem;
}
.staff-info .name {
    background: var(--color2-normal);
    border-radius: 1rem;
    padding: 4px 14px 0 20px;
}
.staff-info .timer > div {
    display: inline-block;
}
.staff-info li.timer:before {
    display: inline-block;
    
    position: relative;
    top: 2px;
    margin-right: 4px;
    
    font-family: 'material-Icons';
    font-size: 1rem;
    font-weight: 100;
    content: '\e858';
    color: hsl(0, 0%, 100%);
}
#header .material-icons {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1rem;
    
    position: relative;
    top: -1px;
}
#header .navbar-nav a {
    font-size: 1.1rem;
    padding-left: 2rem;
    font-weight: 500;
}

#header .navbar-nav a:hover > label,
#header .navbar-nav>li.active a > label {
    color: var(--color1-light);
}
#header .navbar-nav>li.active > a > label {
    position: relative;
}

#header .navbar-nav>li.active > a > label:after {
    content: '';
    width: 100%;
    height: 3px;
    
    position: absolute;
    left:0;
    bottom: -16px;
    
    background: var(--color1-light);
}
 
/* 모바일에서 가림처리 slide-icon */
.slide-icon {
    display: none;
}

@media only screen and (min-width: 1200px) {    
	.slide-icon {
	    position: absolute;
	    top: 52px;
	    left: 220px;
	    cursor: pointer;
	    z-index: 3000;
	    
	    display: inline-block;
	    width: 24px;
	    height: 32px;
	    background: url(../images/slide-icon.svg) no-repeat 0 center;
	}
	.slide-icon.closed {
	    background: url(../images/slide-icon-on.svg) no-repeat 0 center;
	}
	.slide-icon:before {
	    display: inline-block;
	    
	    position: relative;    
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    
	    font-family: 'material-Icons';
	    font-size: 24px;
	    font-weight: 100;
	    content: '';
	    color: hsl(0, 0%, 100%);
	    
	    width: 24px;
	}
	.opened:before {content:'\e5cb';}
	.closed:before {content:'\e5cc';}
}

/* Sidebar */
#sidebar {    
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 1001;  
}
.hide-sidebar {
    width: 48px;
    height: 48px;
    background: red;
    
    display: inline-blodk;
    position: fixed;
    left: 480px;
    top: 0;
}
@media only screen and (min-width: 1200px) {
    #sidebar {
        width: 240px;
        height: auto !important;
        padding-bottom: 50px;
    }
	.hide-sidebar {
		display: none;
	}
}
.side-title {
    display: none;
}

/* 좌측 - 학생용 */
.stu-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
    
    width: 100%;
    background-color: var(--color2-darker);
}
.stu-info li {
    display: inline-block;
    padding: 14px 0;
    line-height: 24px;
    
    width:50%;
    text-align: center;
}
.stu-info li:first-child {
    background-color: var(--color2-dark);
}
.stu-info a,
.stu-info li:before {
    color: hsl(0, 0%, 100%);
}
.stu-info li:before {
	content: '';
    font-family: 'material-Icons';
    font-size: 20px;
    font-weight: 100;
    
    position: relative;
    top: 3px;
    margin-right: 12px;
}
.stu-info .name:before {
    content: '\e0da'; 
}
.stu-info .logout:before {
    content: '\e8ac'; 
    
}

@media only screen and (min-width: 1200px) {
	.side-title {
        display: inline-block;
    }
    .stu-info {
        display: none;
    }
}

/**********************/
/* LOGIN */
/**********************/
.login-body {
    background: #fff;
    overflow: auto;
    /*
    min-width: 920px;
    */    
    height: 100%;
    background-position: top center;
    background-size: 100%, 100%;
}

.login-body .container {
    padding-top: 200px;
    margin: 0 auto;
    height: 100%;
    
    max-width: 1600px;
}
.login-box {
    display: flex;
}
.login-box .left-box {
    background: var(--color2-dark) url('/common/images/login-img.png') no-repeat 96px center;
    height: 640px;
    
    padding: 64px;
    position: relative;
    
    display: flex;
    align-items: flex-end;
}
.login-box .slogan {
    color: hsla(0, 0%, 100%, 1);
    line-height: 1.4;
    
    font-size: 24px;
    font-weight: 400;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.slogan .sg-01 {
    
}
.slogan .sg-02 {
}
.slogan .sg-03 {
    font-size: 40px;
    font-weight: 500;
}
.login-box .btn-outline-dark {
    border: 1px solid #d2d2d2;
    padding: 0.3rem 2.4rem 0.3rem 0.8rem;
    background-image: url(../images/arr.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: right 10px center;
}

.login-box .right-box {
    max-height: 100%;
    padding: 0 40px;
}

.login-box .right-box h2 {
    margin: 1rem auto 2rem;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.login-box .right-box .univ-name {
    display: inline-block;
    background: url(../images/logo.png) no-repeat left top;
    background-size: 200px auto;
    
    width: 200px;
    height: 60px;
    margin-right: 0.6rem;
    
    font-size: 0;
}
.login-box .right-box .sysm-name {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    padding-top: 12px;
}

.login-text {
    font-size: 56px;
    color: var(--color1-normal);
    
    font-family: 'Montserrat';
    font-weight: 300;
    
    text-align: center;
    display: block;
}
.login-text:after { 
    content: '';
    display: block;
    
    width: 2rem;
    height: 1px;
    margin: 40px auto 20px;
    
    background: var(--color1-normal);
}
.login-box .right-box p {
    line-height: 1.5em;
    font-size: 1rem;
    margin: 0 auto 20px;
    text-align: center;
}

.login-box .login-area label {
    font-size: 16px;
    font-weight: 500;
    color: #666;
    padding: 20px 0 10px;
}

.login-box .login-area .form-control {
    padding: 0.2rem 0.6rem;
    
    background: #f2f2f2;
    border-color: hsla(0, 0%, 0%, 0.2);
    border-radius: 0;

    height: 55px;
}

.login-box .login-area .login-btn {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.login-box .find-password {
    padding: 1rem 0;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login-box .find-password a {
    color: hsl(0, 0%, 35%);
    width: auto;
    display: inline-block;
}
.login-box .find-password a + span {
    content: '';
    display: inline-block;
    width: 1px;
    height: 14px;
    background: hsla(0, 0%, 35%, 0.8);
    
    position: relative;
    top: auto;
    left: auto;
    margin-left: 20px;
    margin-right: 20px;
}

/**********************/
/* MAIN */
/**********************/
 .content-wrap {
    width: 100%;
    margin: 0 auto;
    min-height: 460px;
    background: var(--gray-bg);
    
    position: relative;
    height: auto;
 }
.main-container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
	#content {
	    width: 100%;
	    padding: 0 20px;
	    display: inline-block;
	    
        position: relative;
        top: 0;
        z-index: 1000;
	}
.btn.close-all-tabs,
.w2tabcontrol.tab-content-area > .w2tabcontrol_control {
	display: none;
}

@media only screen and (min-width: 1200px) {
	 .content-wrap {
	    margin: 20px auto;
    
        background: none;
        min-height: 680px;
	 }
    .main-container {
        position: relative;
        height: auto;
    }
    #grp_slide {
    top: 52px !important;
        left: 220px;
        transition: 0.3s;
    }
	#content {
	    z-index: 1000;
	    
        width: calc(100% - 260px);
        height: auto;
        float: right;
        
        left: auto;        
        right: 0;
        padding: 0;
        transition: 0.3s;
	}
    #sidebar.hide-left {
       width: 0;
    }
    #grp_slide.push-left {
        left: 0px;
    }
    #content.w-100 {
        width: 100%;
    }
    
	.btn.close-all-tabs,
	.w2tabcontrol.tab-content-area > .w2tabcontrol_control {
	    display: inline-block;
	} 
	#tabContentMain_container {
	   height: auto; 
	}
}

.SubTitle {
    position: relative;
    padding-bottom: 16px;
}

.SubTitle .btn-group {
    position: absolute;
    right: 0;
    top: auto;
    
    background: hsl(0, 0%, 100%);
}
.SubTitle .btn-group .btn:before {
    content: '';
    
    position: absolute;
    top: 9px;
    left: -2px;
    
    width: 1px;
    height: 20px;
    
    display: inline-block;
    background: var(--gray-light);
}
.SubTitle .btn-group .btn:first-child:before {
    display: none;
}
.SubTitle .btn-group .material-icons {
    background: transparent;
    
    width: 40px;
    height: 40px;
    padding: 0;
    
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    
    display: block;
    border-radius: 0;
    border-color: transparent;
}
.SubTitle .btn-group .material-icons:hover {
    color: var(--color1-normal);
}
/* @media only screen and (min-width: 1200px) {
	.SubTitle .btn-group {
        visibility: visible;
    
	    position: absolute;
	    right: 0;
	    top: auto;
	    
	    background: hsl(0, 0%, 100%);
	}
	.SubTitle .btn-group .btn:before {
	    content: '';
	    
	    position: absolute;
	    top: 9px;
	    left: -2px;
	    
	    width: 1px;
	    height: 20px;
	    
	    display: inline-block;
	    background: var(--gray-light);
	}
	.SubTitle .btn-group .btn:first-child:before {
	    display: none;
	}
	.SubTitle .btn-group .material-icons {
	    background: transparent;
	    
	    width: 40px;
	    height: 40px;
	    padding: 0;
	    
	    font-size: 1.4rem !important;
	    text-align: center;
	    line-height: 40px;
	    
	    display: block;
	    border-radius: 0;
	    border-color: transparent;
	}
	.SubTitle .btn-group .material-icons:hover {
	    color: var(--color1-normal);
	}
} */
.SubTitle h2 {
    font-size: 26px;
    font-weight: 600;
    padding: 6px 0 0;
    margin: 0;
    
    color: var(--gray-dark);
    min-height: 42px;
    
    width: 100%;
    letter-spacing: -0.1rem;
}

/* page navi */
.SubTitle .page-navi {
    display: block;
    min-height: 24px;
}

.SubTitle .page-navi li {
    color: var(--gray-normal);
    float: left;
    padding-left: 8px;
    font-size: 13px;
    letter-spacing: -0.02rem;
    display: inline-block;
}
.SubTitle .page-navi li:before {
    font-size: 12px;
    content: '\e315';
    left: 0;
    top: 0;
    font-family: 'material-Icons';

    position: relative;
    margin-left: -8px;
    display: inline-block;
    float: left;
}

.SubTitle .page-navi li:first-child {
    padding-left: 0;
}
.SubTitle .page-navi li:nth-child(2) {
	display: none;
}

.SubTitle .page-navi li .material-icons {
    font-size: 14px;
    vertical-align: top;
}

.SubTitle .page-navi li:first-child:before {
    display: none;
}

.tabs.nav.nav-pills > li > a {
    margin-left: 2px;
    font-size: 0.9rem;
    color: #0c53b4;
}

.tabs.nav.nav-pills {
    margin-bottom: 2rem;
}

.tabs.nav.nav-pills > li > a.active, .tabs.nav.nav-pills > li > a:hover {
    color: #fff;
    background: #1e51a2;
}

.tabs.nav.nav-pills > li:first-child > a {
    margin-left: 0;
}

/**********************/
/* SUB */
/**********************/
.btn_user {
    display: inline-block;
    margin: 2px 0 0 8px;
    padding: 0;
    border: #ccc solid 1px;
    border-radius: 2px;
    vertical-align: top;
}

.btn_user li {
    float: left;
    list-style-type: none;
    border-left: #ccc solid 1px;
    /* margin-top: 0; */
}

.btn_user li:first-child {
    border-left: none;
}

.btn_user a span {
    padding: 5px;
    color: #666;
    font-size: 16px;
}

.btn_user a:hover span, .btn_user a:focus span {
    color: #fe7000;
}

#navi_history {
    position: absolute;
    top: 6px;
    right: 0;
    color: #888;
}

#navi_history > span {
    margin: 0 5px;
}

#navi_history > strong {
    color: #555;
}

/*guide style*/
.txt-guide {
    border: 1px solid #cccccc;
    background-color: #f8f9fa;
    line-height: 1.5;
    clear: both;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.txt-guide p {
    margin-top: 0
}

/* stu-photo : max-width:230px;max-height:140px; */
.photo-wrap .user-img {
    min-width: 100px;
    min-height: 100px;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto 0.25rem;
    border-radius: 50%;
    overflow: hidden;
}
.photo-wrap .user-img img {
    width: 100%;
    height: auto;
}

/* KYJ 20201119 : 영역 오버시 정보 가림현상 해제
.w2tabcontrol_contents_wrapper {
    height: auto;
}
 */
/* KYJ 20201117 : 반관리 기준 minimum height */
#tabContentMain_container {
    clear: none;
    /* height: auto; */
}

/* 탭영역 하위 높이값 재설정 */
/* 탭영역 특정 하단 테이블 영역 짤림현상 해결 */
.w2tabcontrol_container {
    position: relative;
    height: auto;
}
.w2tabcontrol_contents {
    position: relative;
    height: auto;
}
.w2tabContainer_contents {
    position: relative;
    height: auto;
}
/* 임시로 높이설정 */
.w2tabcontrol_contents[role="tabpanel"] .w2tabContainer_contents > div {
    height: auto !important;	
}

/* footer */
.login-body #footer {
    border-top: none;
}
#footer {
    border-top: solid 1px var(--gray-light);
    padding: 1rem 0;
    width:100%;
    overflow: hidden;
    clear: both;
}
#footer .container {
    margin: 0 auto 8px;
    padding: 0 10px;
}

#footer .container span {
    display: block;
    font-size: 13px;
    color: var(--text-normal);
}
@media only screen and (min-width: 768px) { 
	#tabContentMain_container {
	    /* 
	    min-height: 760px;
	    background: teal; */
	    position: relative;
        height: auto;
	}
	#footer .container span {
        display: inline-block;
        font-size: 14px;
	    padding-right: 12px;
	}
}
/* calendar */
.button-overlay {
    position: absolute;
    top: 8px;
    left: 0;
    width: auto;
    z-index: 100;
}

.fc-toolbar.fc-header-toolbar {
    margin-bottom: 8px !important;
    position: relative;
    top: 10px;
    left: auto;
    height: 40px;
}
.fc-toolbar .fc-left,
.fc-toolbar .fc-center {
    position: absolute;
    top: -2px;
}
.fc-toolbar .fc-left {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.fc .fc-button-group > * {
    position: absolute;
    margin: 10px 20px;
    
    background: none;
    border: none;
    
    text-shadow: none;
    box-shadow: none;
    
    padding: 0;
    height: 32px;
}
.fc .fc-button-group > .fc-prev-button {
    left: 42%;
}
.fc .fc-button-group > .fc-next-button {
    right: 42%;
}
.fc .fc-button-group > .fc-today-button {
    right: 34%;
    top: 0;
    border-radius: 0.25rem;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    height: 28px;
}
.fc .fc-button-group > .fc-today-button.fc-state-default {
    background-color: var(--color1-normal);
    border: solid 1px var(--color1-normal);
    color: hsl(0, 0%, 100%);
}
.fc .fc-button-group > .fc-today-button.fc-state-default:before,
.fc .fc-button-group > .fc-today-button.fc-state-default:hover:before {
    color: hsl(0, 0%, 100%);
}
.fc .fc-button-group > .fc-today-button.fc-state-default:hover {
    background-color: var(--color2-normal);
    border: solid 1px var(--color2-normal);
    color: hsl(0, 0%, 100%);
}
.fc .fc-button-group > .fc-today-button.fc-state-disabled:hover,
.fc .fc-button-group > .fc-today-button.fc-state-disabled {
    background-color: var(--gray-box);
    border: solid 1px var(--gray-light);
    color: var(--color1-dark);
    
    cursor: unset !important;
}
.fc .fc-button-group > .fc-today-button.fc-state-disabled:hover:before,
.fc .fc-button-group > .fc-today-button.fc-state-disabled:before {
    color: var(--color1-normal);
}

.fc-button-group .fc button .fc-icon,
.fc-button-group > button > span:after {
    top: 0;
}

.fc-button-group > button > span:after,
.fc .fc-button-group > .fc-today-button:before {
    font-family: 'material-Icons';
    font-size: 32px;
    font-weight: 100;
    color: var(--color1-normal);
}

.fc-button-group > button > span.fc-icon-left-single-arrow:after {
    content: '\e314';
}
.fc-button-group > button > span.fc-icon-right-single-arrow:after {
    content: '\e315';
}

.fc .fc-button-group > .fc-today-button:before {
    font-size: 10px;
    content: '\e3a6';
    padding-right: 4px;
}

.fc-toolbar .fc-center {
    left: 50%;
    transform: translateX(-50%);
}
.fc-toolbar .fc-center h2 {
    font-size: 24px;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color: var(--color1-normal);
    margin-top: 1px;
    
    width: auto;
    text-align: center;
    float: none;
}

/* calendar day */
.fc-unthemed .fc-month-view .fc-body,
.fc-unthemed .fc-bg th, .fc-unthemed .fc-bg td {
    border-color: hsla(var(--base-color2), 30%, 70%, 0.2) ;
}
    
.fc-day-header {
    background: var(--color2-dark);
    color: hsl(0, 0%, 100%);
    line-height: 40px;
    font-weight: 400;    
    border-color: hsl(0, 0%, 100%) !important;
}
.fc-ltr .fc-month-view .fc-day-top .fc-day-number {
    color: var(--text-normal);
    font-family: 'Montserrat';
    font-weight: 400;
    padding: 8px;
    opacity: 0.96;
}

.fc-day-header.fc-sun {
    background-color: var(--color2-light) !important;
}
.fc-ltr .fc-basic-view .fc-day-top.fc-sun .fc-day-number {
    color: var(--color9-normal);
    font-weight: 400;
}
.fc-row .fc-bg .fc-day.fc-sun {
    background-color: var(--color2-lighter) !important;
}

.fc-day-header.fc-sat {
    background-color: var(--color1-normal) !important;
}
.fc-ltr .fc-basic-view .fc-day-top.fc-sat .fc-day-number {
    color: var(--color1-normal);
    font-weight: 400;
}
.fc-row .fc-bg .fc-day.fc-sat {
    background-color: var(--color1-normal) !important;
}
.fc-ltr .fc-basic-view .fc-day-top.fc-today .fc-day-number {
    position: relative;
    top: auto;
    right: auto;
}

.fc-ltr .fc-basic-view .fc-day-top.fc-today .fc-day-number {
    color: var(--color1-normal);
}
.fc-ltr .fc-basic-view .fc-day-top.fc-today .fc-day-number:after {
    display: inline-block;
    content: '';
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color2-dark) !important;
}

.fc-day-grid-event .fc-content .fc-title {
    color: hsl(0, 0%, 100%) !important;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
}

tr:nth-child(odd) .fc-day-grid-event .fc-content .fc-title,
.fc-more-popover .fc-event-container > a:nth-child(odd) .fc-title {
    background-color: hsla(var(--base-color2), 50%, 60%, 1) !important;
    border-color: transparent !important;
}
tr:nth-child(even) .fc-day-grid-event .fc-content .fc-title,
.fc-more-popover .fc-event-container > a:nth-child(even) .fc-title {
    background-color: hsla(var(--base-color2), 30%, 50%, 1) !important;
    border-color: transparent !important;
}
.fc-more-popover .fc-event-container > a:nth-child(odd),
tr:nth-child(odd) > .fc-event-container .fc-day-grid-event {
    background-color: hsla(var(--base-color2), 50%, 70%, 0.3) !important;
    border-color: transparent !important;
}
.fc-more-popover .fc-event-container > a:nth-child(even),
tr:nth-child(even) > .fc-event-container .fc-day-grid-event {
    background-color: hsla(var(--base-color2), 30%, 50%, 0.3) !important;
    border-color: transparent !important;
}
a.fc-day-grid-event .fc-title {
    cursor: pointer;
}
.fc-more-cell a.fc-more {
    color: var(--color2-dark);
}

/* 달력 팝업 - 일정상세보기 */
.fc-unthemed .fc-popover.fc-more-popover {
    border-color: var(--color2-light);
}
.fc-popover .fc-widget-content .fc-day-grid-event {
    margin: 1px 0 0;
    padding: 0;
}
.fc-popover .fc-header .fc-title {
    padding: 5px 4px 2px;
    text-align: center;
    color: var(--text-dark);
    font-family: 'Montserrat';  
}
.fc-popover .fc-header .fc-icon-x:after {
    top: 4px;
}

/* 공통코드관리 */
strong.total-num {
    color: var(--color1-dark);
    padding-left: 4px;
}

/* 테이블 새로운 데이터 추가 */
.w2tb.add-list th.w2tb_th, .w2tb.add-list td.w2tb_td {
    background-color: hsla(170, 52%, 80%, 0.2);
    
    background-color: #eef7ff;
}
/* .w2tb.add-list td.w2tb_td .required {
    background-color: hsla(170, 50%, 60%, 0.7);
    border-color: hsla(170, 45%, 55%, 0.7);
} */

/* progress bar */
.progress-bar {
    position: relative;
    top: 10px;
    left: auto;
    height: 30px;
}
.pb-title {
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 1px;
    left: 52px;
    z-index: 100;
    font-size: 14px;
}
.pb-bar {
    width: 100%;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.w2progressbar_bar {
    background-image: none;
    border-radius: 10px;
    border-color: var(--color2-normal);
    background-color: var(--color2-light);
}
.w2progressbar_progress {
    background-image: none;
    border-radius: 10px;
    border-color: var(--gray-light);
    background-color: var(--gray-box);
}
.w2progressbar_type2 .w2progressbar_bar div, .w2progressbar_type5 .w2progressbar_bar div {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3;
    text-indent: 8px;
    text-align: left;
}

/* 안내문구 박스 */
.guide-box {
    border: solid 1px hsla(188, 78%, 41%, 0.5);
    padding: 16px 20px 16px 20px;
    margin-bottom: 20px;
    
    /* font-size: 95%; */
    line-height: 1.4;
    color: var(--text-normal);
    
}
@media only screen and (min-width: 992px) {
    .guide-box {
        padding: 16px 20px 16px 120px;
        background: hsl(0, 0%, 100%) url(/common/images/icon-info.png) no-repeat 40px center;
    }	
}

.guide-box h6 {
    color: hsl(188, 78%, 41%);
    padding-top: 0.5rem;
    margin-bottom: 0.15rem;
}
.guide-box p,
.guide-text p {
    margin-bottom: 0;
}

.guide-text {
    /* font-size: 95%; */
    line-height: 1.4;
    margin-bottom: 10px;
    color: hsl(188, 78%, 41%);
}
.tab-content-area .w2tabcontrol_contents_wrapper_selected .SmallTitle + .guide-text {
    margin-bottom: 7px;
}
.guide-box .w2radio_row th,
.guide-box .w2radio_row td {
    line-height: 1.4;
}

.ol-num {
    position: relative;
    top: 0;
    left: auto;
    
    margin: 0;
}
.ol-num > li {
    clear: both;
    display: block;
    
    font-size: inherit;
    text-indent: -16px;
    margin-left: 16px;
}
.ul-bullet {
    position: relative;
    top: 0;
    left: auto;
    
    margin: 0;
}
.ul-bullet > li {
    clear: both; 
}
.ul-bullet > li:before {
    font-family: 'material-Icons';
    font-weight: 700;
    content: '· ';
    position: relative;
    float: left;
    width: 12px;
}

/* 학적 > 학생정보조회 > 학기별성적 우측 테이블 높이값 설정 : 모바일에서만 */
.tb-record {
    height: 300px !important;
}

/* 
@media only screen and (max-width: 600px) {
    .w20,
    .w30,
    .w40,
    .w60,
    .w80,
    .w100,
    .w120,
    .w140,
    .w160,
    .w180,
    .w200,
    .w220,
    .w240,
    .w260,
    .w280,
    .w300,
    .w320,
    .w340,
    .w360,
    .w380,
    .w400    {
    max-width: 100% !important;
    }
    .search-form .control-label {
       position: absolute;
       width: 110px;
    }
	
	.search-form .form-inline .form-group {
	    width: 100%;
	    display: block;
	    
	    padding-left: 130px;
	    padding-right: 0;
	}
}
@media only screen and (min-width: 601px) {
	.w20    {width: 20px !important;}
	.w30    {width: 30px !important;}
	.w40    {width: 40px !important;}
	.w60    {width: 60px !important;}
	.w80    {width: 80px !important;}
	.w100    {width: 100px !important;}
	.w120    {width: 120px !important;}
	.w140    {width: 140px !important;}
	.w160    {width: 160px !important;}
	.w180    {width: 180px !important;}
	.w200    {width: 200px !important;}
	.w220    {width: 220px !important;}
	.w240    {width: 240px !important;}
	.w260    {width: 260px !important;}
	.w280    {width: 280px !important;}
	.w300    {width: 300px !important;}
	.w320    {width: 320px !important;}
	.w340    {width: 340px !important;}
	.w360    {width: 360px !important;}
	.w380    {width: 380px !important;}
	.w400    {width: 400px !important;}
    .search-form .control-label {
       width: auto;
    }
}

@media only screen and (min-width: 992px) {
	.search-form .form-inline .form-group {
        width: auto;
        display: inline-block;
    
    }
} */
