@charset "utf-8";

/*#################### 공통 ####################*/
a {
	text-decoration: none
}
dl, ol, ul {
	list-style: none;
}

/*#################### 메인 ####################*/
/********** 로그인 **********/
body.logged-in .sec-auth .logged-in-view {
    padding-right:0;
}
.sec-auth .user-name {
	width: calc(100% - 50px);
	margin-right:0;
}
.sec-auth .user-number {
	margin-left:0.5rem;
	font-size:1rem;
	font-weight: 600;
}
.sec-auth .btn-icon {
	border:none;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
}
.sec-auth .btn-icon svg {
	fill: #8fd17b;
}
.sec-auth .btn-icon:hover svg, .sec-auth .btn-icon:focus svg {
	fill: #4a8638;
}
.sec-auth .setting-btn {
	right: 28px;
}
.sec-auth .logout-btn {
	right:0;
}
.list-logged {
    display: block;
    width: 100%;
    margin-top: 0.7rem;
    padding-top: 0.6rem;
    border-top: 1px solid #e1e4e7;
}
.list-logged > li {
		position:relative;
		display: inline-block;
		padding-left: 0.7rem;
		margin-right: 0;
		margin-left: 0.5rem;
}
.list-logged > li:first-child {
		padding-left:0;
		margin-left:0;
}
.list-logged > li:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 3px;
    height: 3px;
    background-color: #ccc;
}
.list-logged > li:first-child:after {
	display:none;
}
.list-logged > li > a {
    display: inline-block;
    padding: 0.3rem 0;
    font-size: 14px;
    color: #888;
}
.list-logged > li > a:hover, .list-logged > li > a:focus {
	color:#555;
	font-weight: 500;
}
.list-logged > li > a .bi {
	color: #009a54;
	margin-right: 0.2rem;
}
.list-logged > li > a .bi:before {
	font-size: 13px;
}
@media (min-width: 1200px) {
	.list-logged {padding-top:0.8rem;margin-top:0.8rem;}
}
@media (min-width: 1500px) {
	.list-logged {padding-top: 1rem;margin-top: 1.4rem;}
}

/********** 인증, 스마트 검색, One-Stop 서비스 **********/
.sec-box-major {
  background-color: #F5F7FA;
  padding: 20px 0 20px;
}
@media (min-width: 1200px) {
	.sec-box-major {padding-bottom: 90px;}
	body.logged-in .sec-box-major {padding-bottom: 70px;}
}

/********** 스마트 검색 **********/
.sec-auth {
	padding: 0;
	border-radius: 4px 4px 0 0;
	border: 1px solid #D0E0F1;
}
#header .sec-auth {
	border-radius:0;
}
.sec-smart-search {
  padding: 25px 25px 20px;
  background-color: #02894b;
  border-radius: 0 0 4px 4px;
  color: white;
  margin-bottom: 1.5rem;
}
body.logged-in .sec-smart-search {
  border-radius: 0;
  margin-bottom: 0;
  height: 183px;
}
.sec-smart-search header {
	margin-bottom:0.3rem;
}
.sec-smart-search .sec-title {
	font-size:23px;
}
.sec-smart-search .input-group {
  margin-bottom: 15px;
  border-bottom: 2px solid white;
}
.sec-smart-search .smart-search-input {
  padding-left: 0;
  border: none;
  background-color: transparent;
  color: white;
}
.sec-smart-search .smart-search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
.sec-smart-search .smart-search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}
.sec-smart-search .smart-search-input::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
.sec-smart-search .input-group .btn-icon {
  /* margin-right: -12px; */
}
.sec-smart-search .search-term-list > li {
  margin-right: 0;
}
.sec-smart-search .search-term-list a {
  display: block;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid white;
  border-radius: 9999px;
  color: white;
  transition: .1s ease-in-out;
  font-size: 13px;
}
.sec-smart-search .search-term-list a:hover {
  background-color: white;
  color: #095834;
}
.sec-auth .logged-out-view .btn {
	width: 100%;
	padding: 0.9rem 1rem;
}
@media (min-width: 768px) and (max-width: 1199px) {
	.sec-auth, .sec-smart-search {width: 50%;}
	.logged-in .sec-auth, .logged-in .sec-smart-search {width: 100%;}
	.sec-auth {float:left;height: 166px;}
	.logged-in .sec-auth {float:none;height: auto;}

	.sec-smart-search {float:right;}
	
}
@media (min-width: 1200px) {
	#header .sec-auth {display:none;}
	main .sec-auth .user-name {margin-bottom: 0.2rem;}
	.sec-smart-search {margin-bottom:0;}
	.logged-in .sec-smart-search header {margin-bottom:15px;}
	.logged-in .sec-smart-search .sec-title {font-size:25px;}
}
@media (min-width: 1500px) {
	main .sec-auth .user-name {margin-bottom:0.5rem;}
	body.logged-in .sec-smart-search {height: 196px;}
}

/********** 퀵링크 **********/
.sec-smart-link {
    background: #fff;
    border-radius: 0 0 4px 4px;
    margin-bottom: 1.5rem;
}
.sec-smart-link ul {
    padding: 0;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.sec-smart-link ul > li {
	position:relative;
	-ms-flex: 0 0 50%;
	flex: 0 0 calc(50% + 1px);
	max-width: calc(50% + 1px);
	border: 1px solid #d0e0f1;
	margin: -1px 0 0 -1px;
}
.sec-smart-link ul > li a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.8rem 3rem 0.9rem 1rem;
}
.sec-smart-link ul > li a:hover, .sec-smart-link ul > li a:focus {
	color:#009a54;
	font-weight: 500;
}
.sec-smart-link ul > li a:after {
	content:'';
	position:absolute;
	display: block;
	width:28px;
	height: 28px;
	border-radius: 50%;
	top: 50%;
	right: 1rem;
	margin-top: -14px;
	background-color: #E7E9F0;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentcolor" class="bi bi-chevron-right" viewBox="0 0 16 16"  stroke="currentcolor"  stroke-width="1"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>');
	background-repeat: no-repeat;
	background-position: center center;
}
.sec-smart-link ul > li a:hover:after, .sec-smart-link ul > li a:focus:after {}
@media (min-width: 1200px) {
		main .sec-auth {/* height: 218px; */}
		.logged-in main .sec-auth {height: auto;}
		.sec-smart-link {margin-bottom:0;}
}

/********** 원스탑 **********/
.sec-smart-flow {
    margin-top: 1rem;
}
.sec-smart-flow header {
	border-radius: 4px 4px 0 0;
	background-color:#033975;
	padding: 17px 25px 14px;
	color:#fff;
	margin: 0
}
.sec-smart-flow header .sec-title {
	margin-bottom:0.8rem;
}
/* .sec-smart-flow header span {
	display: none;
} */
.sec-smart-flow .tab-wrap {
    position: relative;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}
.sec-smart-flow .tab-wrap .owl-nav button {
    position: absolute;
    display: inline-block;
    left: inherit;
    opacity: 1;
    color: #0D84EA;
    width: 28px;
    height: 28px;
    top: 3px;
    background: #E7E9F0;
    border-radius: 50%;
    transition: 0.3s;
}
.sec-smart-flow .tab-wrap .owl-nav button span {
	padding:0;
	margin: 0;
	font-size: 35px;
	line-height: 18px;
}
.sec-smart-flow .tab-wrap .owl-nav button span:after {
	display:none;
}
.sec-smart-flow .tab-wrap .owl-nav .owl-prev {
	left: -40px;
}
.sec-smart-flow .tab-wrap .owl-nav .owl-next {
	right: -40px;
}
.sec-smart-flow .tab-wrap .btn-control button svg {
}
.sec-smart-flow .tab-wrap .btn-control button:hover, .sec-smart-flow .tab-wrap .btn-control button:focus {
    background-color: #0d84ea;
    color: #fff;
}
.sec-smart-flow .tab-wrap .inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
}
.sec-smart-flow .nav-pills {
    flex-wrap: nowrap;
    margin-bottom: 0;
}
.sec-smart-flow .nav-pills .nav-link {
	color: #cbcbcb;
	padding: 4px 10px;
	background: transparent;
}
.sec-smart-flow .nav-pills .nav-link.active {
    color: #132A42;
    background: #fff;
    font-weight: 500;
}
.sec-smart-flow .sec-body {
	background-color:#fff;
	padding: 1.5rem;
	min-height: 230px;
	border:1px solid #D0E0F1;
	border-top: none;
	border-radius: 0 0 4px 4px;
}
.sec-smart-flow .sec-body .non-info {
    font-size: 25px;
    text-align: center;
    margin: 70px 0 0;
}
.sec-smart-flow .sec-body .smart-flow-wrap {}
.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow {
    border: 1px solid #E1E2EA;
    margin-top: 10px;
    padding: 1.5rem;
}
.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow:first-child {
	margin-top:0;
}
.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4 {
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    color: #555;
    padding-right: 30px;
}
.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4[data-expanded="false"] {}
.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4[data-expanded="true"] {
    color: #033975;
}
.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4:hover, .sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4:focus {
    color: #033975;
    text-decoration: underline;
    cursor: pointer;
}
.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4:after {
	content:'';
	display:block;
	position: absolute;
	width: 8px;
	height: 8px;
	top: 6px;
	right: 10px;
	background-color: #033975;
	border-radius:50%;
}
.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow.flow-end h4:after, .sec-smart-flow .sec-body .smart-flow-wrap .smart-flow.flow-active h4:after {
    top: -3px;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius:inherit;
}
.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow.flow-end h4:after {
    background: transparent url(/common/images/flow-end.png)no-repeat;
}
.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow.flow-active h4:after {
    background: transparent url(/common/images/flow-active.png)no-repeat;
}
.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4 + .link-box {
    margin-top: 0.5rem;
}
.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4[data-expanded="false"] + .link-box {
    display: none;
}
.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4[data-expanded="true"] + .link-box {display: block;}
.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4 + .link-box ul {
    margin-bottom: 0;
    padding: 0;
}
.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4 + .link-box ul > li > a {
	display: block;
	font-size: 15px;
	padding: 0.2rem 0;
	line-height: 1.2;
	letter-spacing: -0.1em;
}
.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4 + .link-box ul > li > a:hover, .sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4 + .link-box ul > li > a:focus {
	text-decoration:underline;
	color: #033975;
}
@media (min-width: 480px) {
		.sec-smart-flow header span {display: inline-block;position: relative;font-size: 1rem;font-weight: normal;padding-left: 0.625rem;margin-left: 0.625rem;}
		.sec-smart-flow header span:after {content:"";display: block;position: absolute;left: 0;bottom:5px;width: 1px;height: 12px;background-color:rgba(255,255,255,0.5);}
		.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4 {padding-right: 160px;}
		.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4:before {content:'';display:block;position: absolute;top: 9px;right: 50px;width: 80px;height: 1px;background: #033975;}
		.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow.flow-end h4:before {background: #b0b1b4;}
		.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow.flow-active h4:before {background: #0d84ea;}
}
@media (min-width: 520px) {
		.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4 {padding-right: 220px;}
		.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4:before {width: 140px;}
}
@media (max-width: 991px) {
		.sec-smart-flow .sec-body .smart-flow-wrap {width: 100% !important;}
}
@media (min-width: 992px) {
		.sec-smart-flow header .sec-title {margin-bottom:0;font-size: 23px;}
		.sec-smart-flow .tab-wrap {width:calc(100% - 370px);}
		.sec-smart-flow .nav-pills .nav-link {padding:4px 8px;font-size:15px;}
		.sec-smart-flow .sec-body  {min-height: 250px;padding: 1.6rem 20px 0;}
		.logged-in .sec-smart-flow .sec-body {padding: 2rem 1.5rem 2rem;height:312px;}
		.sec-smart-flow .sec-body .tab-pane {overflow: hidden;overflow-x: auto;}
		.sec-smart-flow .sec-body .smart-flow-wrap {display: flex;/* flex-wrap: nowrap; *//* margin-left: -5px; *//* margin-right: -5px; *//* overflow: hidden; *//* overflow-x: auto; *//* flex-direction: row; */justify-content: center;margin: 0 auto;}
		.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow {position:relative;width: 172px;text-align: center;border: none;padding: 0 5px;margin: 0;float: left;}
		.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow:before {content:'';position: absolute;width: 100%;height: 2px;top: 9px;left: -50%;background: #E1E2EA;}
		.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow:first-child:before {display:none;}
		.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4 {padding: 40px 0 2rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-bottom: 0;}
		.logged-in .sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4 {padding-bottom: 2rem;}
		.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4:hover, .sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4:focus {cursor: inherit;text-decoration: none;color: #555;}
		.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4:before {display:none;}
		.logged-in .sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4:before {bottom: 0;top: inherit;left: 50%;width: 1px;height: 16px;z-index: 1;background: #D0E0F1;}
		.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4:after {right:inherit;left: 50%;margin-left: -4px;z-index: 1;}
		.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow.flow-end h4:after, .sec-smart-flow .sec-body .smart-flow-wrap .smart-flow.flow-active h4:after {top: 0;left: 50%;margin-left: -12px;}
		.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4 + .link-box {position: relative;display: flex !important;flex-wrap: wrap;height: calc(100% - 3rem);margin-top: 1rem;overflow: hidden;overflow-y: auto;padding: 1rem 0;height: 122px;background: #F4F5FA;} 
		.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4 + .link-box ul {width:100%;}
		.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4 + .link-box ul > li {display:block;width: 100%;}
		.sec-smart-flow .sec-body .smart-flow-wrap .smart-flow h4 + .link-box ul > li > a {padding: 0.3rem 0.5rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
}
@media (min-width: 1200px) {
	.logged-in .sec-smart-flow header {padding:15px 20px;}
    .sec-smart-flow {margin-top: 0;}
}

/********** 학사일정, 공지사항 **********/
.sec-box-board {
  margin: 0 auto 50px;
}
body.logged-in .sec-box-board {
	margin-bottom:0;
	padding-bottom: 0;
}
@media (min-width: 1200px) {
	.sec-box-board {margin-top: -66px;}
}


/********** 학사일정 **********/
.sec-smart-schedule {
  border:1px solid #D0E0F1;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 1.5rem;
  background: #fff;
}
.sec-smart-schedule header {
	position: relative;
  color:#222;
}
.sec-smart-schedule header .more-link {
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%) rotate(0deg);
	display: inline-block;
	width: 20px;
	height: 20px;
	transition: all 0.3s ease 0s;
}
.sec-smart-schedule header .more-link::before, 
.sec-smart-schedule header .more-link::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	background-color: #353535
}
.sec-smart-schedule header .more-link::before {
	width: 20px;
	height: 2px;
}
.sec-smart-schedule header .more-link::after {
	width: 2px;
	height: 20px;
}
.sec-smart-schedule header .more-link:hover, 
.sec-smart-schedule header .more-link:focus {
	transform: translateY(-50%) rotate(90deg);
}
.sec-smart-schedule .sec-body {
  position: relative;
  padding:0 0 0 100px;
}
.sec-smart-schedule .sec-body .schedule-date {
  position: absolute;
  left:0;
  top:0;
  text-align: center;
  font-size:1.750rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color:#333;
  line-height: 1.2;
}
.sec-smart-schedule .sec-body .schedule-date span {
  display: block;
}
.sec-smart-schedule .sec-body .schedule-date span.schedule-month {
  font-size:3.125rem;
  color:#033975;
  font-weight: 600;
}
.sec-smart-schedule .sec-body ul {
  padding-left: 0;
  overflow-y: auto;
  max-height: 380px;
  margin: 0;
}
body.logged-in .sec-smart-schedule .sec-body ul {
	max-height: 200px;
}
.sec-smart-schedule .sec-body ul li {
  color:#555;
  font-size:1.063rem;
  letter-spacing: -.05rem;
  margin: 0 0 20px;
}
.sec-smart-schedule .sec-body ul li .list-date {
  color:#222;
  display: block;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.sec-smart-schedule .sec-body ul li .subject {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 49px;
}
@media (min-width: 1200px) {
	.sec-smart-schedule{
		margin-bottom: 0;
	}
	.sec-smart-schedule .sec-body ul {
		max-height: 622px;
		padding-right: 1.2rem;
	}
	body.logged-in .sec-smart-schedule .sec-body ul {
		margin-bottom: 20px;
	}
}

body.logged-in .sec-smart-schedule {
  margin-bottom: 1.5rem;
  background: #F4F5FA;
  border: none;
}
@media (min-width: 992px) {
    body.logged-in .sec-smart-schedule {margin: 0;height: calc(100% - 20px);}
}

/********** 공지사항 **********/
/* 게시판 */
.sec-smart-board {
  position: relative;
  padding: 0;
  background-color: transparent;
  margin:1.250rem 0;
  height: 790px;}
.sec-smart-board .nav-tabs {
  padding-right: 50px;
  border: none;
  border-bottom:1px solid #ccc;
}
.sec-smart-board .nav-tabs .nav-item {
  margin: 0;
}
.sec-smart-board .nav-tabs .nav-item .nav-link {
  position: relative;
  font-size: 17px;
  font-weight: 500;
  padding: 0 0 9px;
  color:#222;
  margin: 0 1rem 0 0;
  border: none;
  background: transparent;
}
.sec-smart-board .nav-tabs .nav-item  {
	/* position:relative; */
	display: inline-block;
	border: none;
	border-radius: 0;
	margin-top: 0.5rem;
	font-weight: 500;
	text-align: center;
}
.sec-smart-board .nav-tabs .nav-item .nav-link.active,
.sec-smart-board .nav-link.active {
  color: #033975;
}
.sec-smart-board .nav-tabs .nav-item .nav-link.active:after,
.sec-smart-board .nav-link.active:after {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height: 4px;
  width: 100%;
  background: #033975;
}
.sec-smart-board .nav-tabs .nav-link:hover,
.sec-smart-board .nav-tabs .nav-link:focus {
  border: none;
  color: #033975;
  text-decoration: none;
}
.sec-smart-board .nav-tabs .nav-link.active:hover,
.sec-smart-board .nav-tabs .nav-link.active:focus {
  color: #033975
}
.sec-smart-board .sec-board-more {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}
.sec-smart-board .tab-content {
	position: absolute;
	top: 98px;
	left: 0;
	right: 0;
}
.sec-smart-board .tab-pane {
  min-height: 570px;
  border-bottom: 2px solid #F4F5FA;
}
.sec-smart-board .nav-link + .tab-content .tab-pane {
	display:none;
	opacity: 0;
}
.sec-smart-board .nav-link.active + .tab-content .tab-pane {
	display:block;
	opacity: 1;
}
.sec-smart-board .tab-pane .non-info {
    font-size: 25px;
    text-align: center;
    margin: 70px 0 0;
}
.sec-smart-board .tab-pane > ul {
	padding: 0;
	margin: 0;
}
.sec-smart-board .board-no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 15px;
}
.sec-smart-board .board-item {
  background:#F4F5FA;
}
.sec-smart-board .board-item:nth-child(2n) {
  background:#fff;
}
.sec-smart-board .board-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #555;
}
.sec-smart-board .board-link .item-year {
  display: block;
}
.sec-smart-board .board-link .item-month-date {
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.sec-smart-board .board-link .item-title {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
  color: #222;
  width: 100%;
}
.sec-smart-board .board-link .item-title .board-title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 20px);
}
.sec-smart-board .board-link .item-title .noti + .board-title {
    max-width: calc(100% - 80px);
}
.sec-smart-board .board-link .item-content {
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sec-smart-board .board-link .item-date {
  flex: 0 0 105px;
  max-width: 105px;
  font-size: 1rem;
  color: #555;
  text-align: right;
  /*background: url(/common/images/item-date-icon.png)no-repeat left center;*/
}
.sec-smart-board .board-link .item-date {
  display: none;
}

.sec-smart-board .board-link .item-writer {
  width: 150px;
  text-align: right;
}

.sec-smart-board .board-link .item-writer {
  display: none;
}
.sec-smart-board .board-link:focus,
.sec-smart-board .board-link:focus .item-year,
.sec-smart-board .board-link:focus .item-month-date,
.sec-smart-board .board-link:focus .item-title,
.sec-smart-board .board-link:focus .item-content,
.sec-smart-board .board-link:focus .item-date,
.sec-smart-board .board-link:hover,
.sec-smart-board .board-link:hover .item-year,
.sec-smart-board .board-link:hover .item-month-date,
.sec-smart-board .board-link:hover .item-title,
.sec-smart-board .board-link:hover .item-content,
.sec-smart-board .board-link:hover .item-date {
  color: #333;
}
.sec-smart-board .board-link:focus .board-title,
.sec-smart-board .board-link:hover .board-title {
  text-decoration: underline;
}
.noti {
	display: block;
	text-align: center;
	border-radius: 10px;
	height: 20px;
	padding: 0 10px;
	font-size: 0.875rem;
	font-weight: 400;
	border:1px solid #033975;
	background-color: #fff;
	color: #033975;
	margin-right: 0.313rem;
}
.sec-smart-board .board-link .icon-new {
	display: inline-block;
	margin-left: 10px;
	background: url(/common/images/new.svg) no-repeat center;
	background-size: auto;
	position: relative;
	width: 18px;
	height: 18px;
	font-size: 18px;
	flex-shrink: 0;
	line-height: 18px;
	color: transparent;
}
.sec-smart-board .more-link {
	position: absolute;
	top: -75px;
	right: 0px;
	transform: translateY(-50%) rotate(0deg);
	display: inline-block;
	width: 20px;
	height: 20px;
	transition: all 0.3s ease 0s;
}
.sec-smart-board .more-link::before, 
.sec-smart-board .more-link::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	background-color: #353535
}
.sec-smart-board .more-link::before {
	width: 20px;
	height: 2px;
}
.sec-smart-board .more-link::after {
	width: 2px;
	height: 20px;
}
.sec-smart-board .more-link:hover, 
.sec-smart-board .more-link:focus {
	transform: translateY(-50%) rotate(90deg);
}
@media (min-width: 385px) {
  .sec-smart-board .nav-link {
      padding: 0 8px;
  }
  .sec-smart-board .nav-link.active {
      padding: 0 8px;
  }
}
@media (min-width: 460px) {    
  .sec-smart-board .nav-link {
      padding: 0 12px;
  }
  .sec-smart-board .nav-link.active {
      padding: 0 12px;
  }

}
@media (min-width: 576px) {    
  .sec-smart-board .nav-link {
      padding: 0 19px;
  }
  .sec-smart-board .nav-link.active {
      padding: 0 19px;
  }
}
@media (min-width: 768px) {
	.sec-wrapper-board-pop {
	  padding: 45px 0;
	}
	.sec-smart-board .nav-tabs .nav-item .nav-link {
		padding-bottom:20px;
		font-size: 21px;
	}
	.sec-smart-board .board-link .item-date {
		display: block;
	}
	.sec-smart-board .board-link .item-title {
		width: calc(100% - 150px);
	}
	.sec-smart-board .tab-content {
		top: 60px;
	}
	.sec-smart-board .more-link {
		top: -30px;
	}
}
@media (min-width: 992px) {
  .sec-box-board2 {
    padding: 2.188rem 0;
  }
  .sec-wrapper-board-pop {
      padding: 60px 0;
  }
  .sec-smart-board {

      margin: 0;
  }
  .sec-smart-board .board-link .item-month-date {
      font-size: 20px;
  }
  .sec-smart-board .board-link .item-content {
      font-size: 0.875rem;
  }
  .sec-smart-board.board-item:not(:first-child) .board-link .board-right {
      position: relative;
      width: calc(100% - 80px - 15px - 1.375rem - 90px); /* 1.375rem은 날짜 텍스트의 너비 */
  }  
}
@media (min-width: 1200px) {
	  body.logged-in .sec-smart-board {
		  margin-top: 1.5rem;
	  }
	.sec-smart-board .nav-tabs .nav-item {
		margin-top:0;
	}
	.sec-smart-board .nav-tabs .nav-item .nav-link {
	      padding-bottom: 15px;
	}
	.sec-smart-board .tab-pane {
		min-height: 660px;
	}
	body.logged-in .sec-smart-board .tab-pane {
		height: auto;
	}
	.sec-smart-board .board-link {
		padding: 22px 20px 20px;
	}
	.sec-smart-board .tab-content {
		top: 47px;
	}
	.sec-smart-board .tab-pane .non-info {
		margin:0;
		padding-top:350px
	}
}

/********** 오늘의 수업 **********/
.sec-smart-class {
  border:1px solid #D0E0F1;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 1.5rem;
  background: #fff;
}
.sec-smart-class .sec-title>span {
	color:#0D84EA;
	font-size: 16px;
	font-weight: 500;
	margin-left: 3px;
}

.sec-smart-class .more-link {
	position: absolute;
	top: 33px;
	right: 35px;
	transform: translateY(-50%) rotate(0deg);
	display: inline-block;
	width: 20px;
	height: 20px;
	transition: all 0.3s ease 0s;
}
.sec-smart-class .more-link::before, 
.sec-smart-class .more-link::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	background-color: #353535
}
.sec-smart-class .more-link::before {
	width: 20px;
	height: 2px;
}
.sec-smart-class .more-link::after {
	width: 2px;
	height: 20px;
}
.sec-smart-class .more-link:hover, 
.sec-smart-class .more-link:focus {
	transform: translateY(-50%) rotate(90deg);
}

.sec-smart-class .btn-control {}
.sec-smart-class .btn-control button {
    position: inherit;
    display: inline-block;
    left: inherit;
    opacity: 1;
    color: #0D84EA;
    width: 28px;
    height: 28px;
    background: #E7E9F0;
    border-radius: 50%;
    transition: 0.3s;
}
.sec-smart-class .btn-control button svg {
    margin-top: -5px;
}
.sec-smart-class .btn-control button:hover, .sec-smart-class .btn-control button:focus {
    background-color: #0d84ea;
    color: #fff;
}
.sec-smart-class .carousel-item {
	min-height:210px;
}
.sec-smart-class .carousel-item .non-info {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 3rem 0 0;
}
.sec-smart-class .carousel-item .non-info .bi {
    display: block;
    margin: 0 auto 0.5rem;
    font-size: 50px;
    color: #0d84ea;
}
.sec-smart-class .carousel-item .class-item {
    padding-left: 0;
    margin: 0;
    height: 210px;
    overflow: hidden;
    overflow-y: auto;
}
.sec-smart-class .carousel-item .class-item li {
    display: flex;
    margin-top: 1.5rem;
}
.sec-smart-class .carousel-item .class-item li:first-child {
	margin-top:0;
}
.sec-smart-class .carousel-item .class-item li .time {
    width: 130px;
    font-size: 18px;
}
.sec-smart-class .carousel-item .class-item li .info {
    width: calc(100% - 130px);
}
.sec-smart-class .carousel-item .class-item li .info h4 {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 0.2rem;
}
.sec-smart-class .carousel-item .class-item li .info p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}
.sec-smart-class .carousel-item .class-item li .info p > span {
	position:relative;
	padding-left: 13px;
	margin-left: 13px;
}
.sec-smart-class .carousel-item .class-item li .info p > span:first-child {
	padding-left: 0;
	margin-left: 0;
}
.sec-smart-class .carousel-item .class-item li .info p > span:after {
	content:'';
	position:absolute;
	top: 7px;
	left:0;
	display:block;
	width:1px;
	height: 11px;
	background-color:#ccc;
}
.sec-smart-class .carousel-item .class-item li .info p > span:first-child:after {
    display: none;
}
.sec-smart-class .carousel-item .class-item li .info p > span.remote {
	color:#FF5C5C;
	padding-left: 23px;
}
.sec-smart-class .carousel-item .class-item li .info p > span.remote:before {
	content:'';
	position:absolute;
	top: 8px;
	left: 12px;
	display:block;
	width:8px;
	height:8px;
	border-radius: 50%;
	background-color:#FF5C5C;
}
@media (min-width: 992px) {
    .sec-smart-class .carousel-item, .sec-smart-class .carousel-item .class-item {height: 270px;}
}
@media (min-width: 1200px) {
	.sec-smart-class {margin-bottom: 0.8rem;}
}

/********** 오늘의 식단 **********/
.sec-smart-meal {
  border:1px solid #D0E0F1;
  border-radius: 4px;
  padding: 20px;
  background: #fff;
  margin-bottom: 28px;
}
.sec-smart-meal header {
    display: block;
}
.sec-smart-meal header .nav-tabs {
    border: none;
    margin-top: 0.5rem;
}
.sec-smart-meal header .nav-tabs .nav-item {}
.sec-smart-meal header .nav-tabs .nav-item .nav-link {
	position:relative;
	border: none;
	padding: 0 0.6rem;
}
.sec-smart-meal header .nav-tabs .nav-item:first-child .nav-link {
	padding-left:0;
}
.sec-smart-meal header .nav-tabs .nav-item .nav-link:hover, .sec-smart-meal header .nav-tabs .nav-item .nav-link:focus {
    color: #0D84EA;
}
.sec-smart-meal header .nav-tabs .nav-item .nav-link:after {
	content:'';
	position:absolute;
	top: 7px;
	left:0;

	width:1px;
	height: 12px;
	display:inline-block;
	background:#ccc;
}
.sec-smart-meal header .nav-tabs .nav-item:first-child .nav-link:after {
	display:none;
}
.sec-smart-meal header .nav-tabs .nav-item .nav-link > span {
	display:none;
}
.sec-smart-meal header .nav-tabs .nav-item .nav-link.active {
    color: #0D84EA;
    font-weight: 600;
}
.sec-smart-meal header .nav-tabs .nav-item .nav-link.active > span {
	display: inline-block;
	margin-left: 0.3rem;
}

.sec-smart-meal .tab-pane {
	min-height:265px;
}
.sec-smart-meal .meal-item {
	padding: 0;
	margin: 0;
}

.sec-smart-meal .meal-item > li {
    border: 1px solid #DBDCDC;
    border-radius: 4px;
    margin-top: 1rem;
    padding: 1.2rem 1rem;
}
.sec-smart-meal .meal-item > li:first-child {
	margin-top:0;
}
.sec-smart-meal .meal-item > li .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.sec-smart-meal .meal-item > li .header h4 {
    font-size: 20px;
    color: #0D84EA;
}
.sec-smart-meal .meal-item > li .header h4 > span {
    font-size: 14px;
    color: #0D84EA;
    margin-left: 1rem;
}
.sec-smart-meal .meal-item > li .header .place {
    font-size: 14px;
    color: #888;
}
.sec-smart-meal .meal-item > li p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 49px;
    margin: 0;
}
.sec-smart-meal .btn-control {
    position: absolute;
    right: 0;
    top: -38px;
}
.sec-smart-meal .btn-control button {
    position: relative;
    display: inline-block;
    left: inherit;
    right: inherit;
    top: inherit;
    opacity: 1;
    color: #0D84EA;
    width: 28px;
    height: 28px;
    background: #E7E9F0;
    border-radius: 50%;
    transition: 0.3s;
}
.sec-smart-meal .btn-control button svg {
    margin-top: -5px;
}
.sec-smart-meal .btn-control button:hover, .sec-smart-meal .btn-control button:focus {
    background-color: #0d84ea;
    color: #fff;
}
.sec-smart-meal .non-info {
	margin-bottom:0;
	text-align: center;
	font-size: 19px;
	padding-top: 110px;
}
@media (min-width: 992px) {
		.sec-smart-meal {min-height:357px;}
		.sec-smart-meal header {display: flex;justify-content: flex-start;}
		.sec-smart-meal .sec-title {margin-right:1rem;}
		.sec-smart-meal .meal-item {display: -ms-flexbox;display: flex;flex-wrap: wrap;margin-left: -10px;margin-right: -10px;}
		.sec-smart-meal .meal-item > li {-ms-flex: 0 0 calc(50% - 20px);flex: 0 0 calc(50% - 20px);max-width: 50%;margin: 7px 10px;}
		.sec-smart-meal .meal-item > li:first-child {margin-top:7px;}
		.sec-smart-meal .btn-control {top:-23px;}
}

/********** 나의 학점현황 **********/
.sec-smart-credit {
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 1.5rem;
  background: #F4F5FA;
}
.sec-smart-credit header {
    position: relative;
    color: #222;
}
.sec-smart-credit .sec-title>span {
	color:#0D84EA;
	font-size: 16px;
	font-weight: 500;
	margin-left: 3px;
}
.sec-smart-credit .more-link {
	position: absolute;
	top: 15px;
	right: 0px;
	transform: translateY(-50%) rotate(0deg);
	display: inline-block;
	width: 20px;
	height: 20px;
	transition: all 0.3s ease 0s;
}
.sec-smart-credit .more-link::before, 
.sec-smart-credit .more-link::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	background-color: #353535
}
.sec-smart-credit .more-link::before {
	width: 20px;
	height: 2px;
}
.sec-smart-credit .more-link::after {
	width: 2px;
	height: 20px;
}
.sec-smart-credit .more-link:hover, 
.sec-smart-credit .more-link:focus {
	transform: translateY(-50%) rotate(90deg);
}
.sec-smart-credit .credit-charts [class^="col-"] {
    text-align: center;
}
.sec-smart-credit .credit-item {
    margin-top: 1.2rem;
}
.sec-smart-credit .credit-item > h4 {
    font-size: 15px;
    color: #033975;
    font-weight: 700;
    margin-bottom: 0.3rem;
}
.sec-smart-credit .credit-item ul {
    padding: 0;
    margin: 0;
}
.sec-smart-credit .credit-item ul > li {
    display: inline-block;
    position: relative;
    padding-left: 1rem;
    margin-left: 1rem;
}
.sec-smart-credit .credit-item ul > li:first-child {
    margin-left: 0;
    padding-left: 0;
}
.sec-smart-credit .credit-item ul > li:after {
	content:'';
	position:absolute;
	top: 9px;
	left:0;
	width:1px;
	height: 14px;
	background:#b1b1b1;
}
.sec-smart-credit .credit-item ul > li:first-child:after {
	display:none;
}
.sec-smart-credit .credit-item ul > li > span {
    font-size: 21px;
    color: #033975;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-left: 1rem;
}
@media (min-width: 768px) {
    .sec-smart-credit .credit-item  {display: flex;flex-wrap: wrap;align-items: center;justify-content: space-between;}
}
@media (min-width: 992px) {
    .sec-smart-credit {height: calc(100% - 20px);/* margin-bottom: 3.5rem; */}
    .sec-smart-credit .credit-charts {margin-top: 2rem;}
    .sec-smart-credit .credit-item {margin-top:1.9rem}
}


/********** 나의 시간표 **********/
.sec-my-schedule {
  border: 1px solid #dbdcdc;
  border-radius: 4px;
  padding: 20px 0 0;
  /* margin-bottom: 1.5rem; */
  margin-top: 23px;
  background: #fff;
}
.sec-my-schedule header {
    position: relative;
    color: #222;
    padding: 0 20px;
}
.sec-my-schedule .sec-title>span {
	color:#0D84EA;
	font-size: 16px;
	font-weight: 500;
	margin-left: 3px;
}
.sec-my-schedule .more-link {
	position: absolute;
	top: 15px;
	right: 20px;
	transform: translateY(-50%) rotate(0deg);
	display: inline-block;
	width: 20px;
	height: 20px;
	transition: all 0.3s ease 0s;
}
.sec-my-schedule .more-link::before, 
.sec-my-schedule .more-link::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	background-color: #353535
}
.sec-my-schedule .more-link::before {
	width: 20px;
	height: 2px;
}
.sec-my-schedule .more-link::after {
	width: 2px;
	height: 20px;
}
.sec-my-schedule .more-link:hover, 
.sec-my-schedule .more-link:focus {
	transform: translateY(-50%) rotate(90deg);
}
.sec-my-schedule .table-wrap {
	padding:0 20px;
}
.sec-my-schedule .table-wrap table {
    width: 100%;
}
.sec-my-schedule table caption {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
.sec-my-schedule table thead tr {
	border-top: 2px solid #E1E2EA;
}
.sec-my-schedule table tbody tr {
	border-top: 1px solid #F4F5FA;
}
.sec-my-schedule table tbody tr:nth-of-type(odd) {
	border-top: 1px solid #E1E2EA;
}
.sec-my-schedule table tr th, .sec-my-schedule table tr td {
	text-align:center;
	height: 33px;
}
.sec-my-schedule table thead tr th {
    height: auto;
    padding: 0.5rem 0;
}
.sec-my-schedule table tbody tr th {
    vertical-align: top;
    font-weight: 500;
    width: 30px;
}
.sec-my-schedule table tbody tr td {
	position: relative;
	width: calc((100% - 30px) / 5);
}
.sec-my-schedule table tbody tr td .item-btn {
    position: absolute;
    top: 0;
    left: 5px;
    right: 5px;
    z-index: 1;
    width: calc(100% - 10px);
    padding: 6px 4px;
    min-height: 100%;
    border: none;
    vertical-align: top;
    color: #fff;
}
.sec-my-schedule table tbody tr td .item-btn.type01 {
	background-color: #CB62BE;
}
.sec-my-schedule table tbody tr td .item-btn.type02 {
	background-color: #F26600;
}
.sec-my-schedule table tbody tr td .item-btn.type03 {
	background-color: #1BABC5;
}
.sec-my-schedule table tbody tr td .item-btn.type04 {
	background-color: #033975;
}
.sec-my-schedule table tbody tr td .item-btn.type05 {
	background-color: #009A54;
}
.sec-my-schedule table tbody tr td .item-btn.type06 {
	background-color: #B75C00;
}
.sec-my-schedule table tbody tr td .item-btn.type07 {
	background-color: #1584EA;
}
.sec-my-schedule table tbody tr td .item-btn.type08 {
	background-color: #f22800;
}
.sec-my-schedule table tbody tr td .item-btn.type09 {
	background-color: #703901;
}
.sec-my-schedule table tbody tr td .item-btn.type10 {
	background-color:#005931;
}
.sec-my-schedule table tbody tr td .item-btn.type11 {
	background-color: #953188;
}
.sec-my-schedule table tbody tr td .item-btn > .txt-wrap {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    text-align: left;
    line-height: 1.2;
    font-size: 13px;
    height: 100%;
    margin-bottom: 0;
}
.sec-my-schedule table tbody tr td .item-btn > .txt-wrap strong {
    font-size: 14px;
    font-weight: 400;
}
.sec-my-schedule .schedule-info {
    border-top: 2px solid #dbdcdc;
    min-height: 275px;
}
.sec-my-schedule .schedule-info .collapsing {
		transition: height .2s ease;
}
.sec-my-schedule .schedule-info .non-info {
	margin-bottom:0;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}
.sec-my-schedule .schedule-info .non-info .bi {
		display: block;
		margin: 2.7rem auto 0.5rem;
		font-size: 50px;
		color: #0d84ea;
}
.sec-my-schedule .schedule-info h4 {
    background: #f4f5fa;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sec-my-schedule .schedule-info h4 .bi {
	color:#888;
	margin-right:0.3rem;
}
.sec-my-schedule .schedule-info h4 > span {
    margin-left: 0.5rem;
    font-size: 14px;
    font-weight: 500;
    color: #4A4C4E;
}
.sec-my-schedule .schedule-info .detail-item {
    padding: 20px 20px 0;
    max-height: 223px;
    overflow: hidden;
    overflow-y: auto;
}
.sec-my-schedule .schedule-info .detail-item h5 {
    font-size: 14px;
    border-bottom: 1px solid #dbdcdc;
    padding-bottom: 0.7rem;
    margin-bottom: 0.7rem;
}
.sec-my-schedule .schedule-info .detail-item h5 > span {
    margin-right: 0.7rem;
}
.sec-my-schedule .schedule-info .detail-item dl {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom: 0;
}
.sec-my-schedule .schedule-info .detail-item dl dt, .sec-my-schedule .schedule-info .detail-item dl dd {
    padding-right: 5px;
    padding-left: 5px;
}
.sec-my-schedule .schedule-info .detail-item dl dt {
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
    max-width: 90px;
    font-weight: 500;
}
.sec-my-schedule .schedule-info .detail-item dl dd {
    -ms-flex: 0 0 calc(100% - 90px);
    flex: 0 0 calc(100% - 90px);
    max-width: calc(100% - 90px);
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
    .sec-my-schedule { /*margin-bottom:0;margin-top: -306px;*/}
    .sec-my-schedule .schedule-info {min-height: 263px;}
    .sec-my-schedule .schedule-info .detail-item {max-height: 210px;}
}

/********** 퀵메뉴 **********/
.main-quickmenu-wr {
	background: #ECEFF8;
	padding:1.563rem 0;
	margin-top: 2rem;
	text-align: center;
	position: relative;
}
.sec-quick .sec-title-1,
.sec-sns .sec-title-1 { 
	color: #222;
	font-size:2.188rem;
  font-family: "Montserrat", sans-serif;
}
.quick-carousel .item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.quick-carousel .owl-dots {
	display: none;
}
.quick-carousel-wrapper .prev-btn, 
.quick-carousel-wrapper .next-btn {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: -999999rem;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.quick-carousel-wrapper .prev-btn {
	left: 0;
	background-image: url(/common/images/prev-quickicon.png);
}
.quick-carousel-wrapper .next-btn {
	right: 0;
	background-image: url(/common/images/next-quickicon.png);
}
.quick-carousel .item .quick-link svg {
	position:absolute;
	top: 40px;
}
.sec-main-quick .item {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
}
.quick-carousel .item .quick-link {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 110px 10px 34px 10px;
	color: #333;
	font-weight: 600;
	font-size: 1rem;
	transition: background-color 0.2s;
}
.quick-carousel .item .quick-link .quick-title {
	display: block;
	word-break: keep-all;
}
.quick-carousel .item .quick-link::before {
	content:'';
	display:block;
	position: absolute;
	top: 26px;
	left: 50%;
	width: 75px;
	height: 75px;
	transform: translateX(-50%);
	background: #fff;
	border-radius: 50%;
}
.quick-carousel .item .quick-link:hover::before,
.quick-carousel .item .quick-link:focus::before {
	background-color: #1d67e2;
}
.quick-carousel .item .quick-link:hover svg *,
.quick-carousel .item .quick-link:focus svg * {
	stroke: #fff;
}
.quick-carousel .item .quick-link:hover .rotate-in-2-cw,
.quick-carousel .item .quick-link:focus .rotate-in-2-cw {
	-webkit-animation: rotate-in-2-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-2-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-10-25 18:48:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-2-cw
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-in-2-cw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-2-cw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);

            transform: rotate(0);
    opacity: 1;
  }
}
@media (min-width: 1200px) {
	.main-quickmenu-wr {
		padding:2.5rem 0;
	}
	.sec-quick .sec-title-1 {

		font-size:2.188rem;
	}
	.sec-quick {
		position: relative;
		max-width: 1440px;
		margin: 0 auto;
	}
	.quick-carousel-wrapper {
		max-width: 1200px;
		margin: 0 auto;
	}
	.quick-carousel .item .quick-link svg {
		top: 50px;
	}
	.quick-carousel .item .quick-link::before {
		width: 100px;
		height: 100px;
	}
	.quick-carousel .item .quick-link {
		padding: 140px 10px 34px 10px;
	}
}

/********** PNU SNS **********/
.main-sns {
  position: relative;
  padding:50px 0 80px;
  text-align:center;
}
.main-sns .nav-tabs .nav-item .nav-link:after {
  content: '';
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  background-position: center center;
  background-repeat: no-repeat;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.main-sns .nav-tabs {
	position: absolute;
	border:none;
	right: 0;
	top:-50px;
}
.main-sns .nav-tabs .nav-item {
    margin: 0;
    width: 100%;
}
.main-sns .nav-tabs .nav-item .nav-link {
  position: absolute;
  top: 0;
  background: transparent;
  border: 0;
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 0 0 0 0.2rem;
  z-index: 10;
}
.main-sns .nav-tabs .nav-item:last-child .nav-link {

right:0;
}
.main-sns .nav-tabs .nav-item:nth-child(3) .nav-link {
right:45px;
}
.main-sns .nav-tabs .nav-item:nth-child(2) .nav-link {
right:90px;

}
.main-sns .nav-tabs .nav-item:nth-child(1) .nav-link {
  right:135px;
}
.main-sns .nav-tabs .nav-item .nav-link[data-controls="main-sns1"]:after {
background-image: url('/common/images/sns-icon01.png');
}
.main-sns .nav-tabs .nav-item .nav-link[data-controls="main-sns2"]:after {
background-image: url('/common/images/sns-icon02.png');
}
.main-sns .nav-tabs .nav-item .nav-link[data-controls="main-sns3"]:after {
background-image: url('/common/images/sns-icon03.png');
}
.main-sns .nav-tabs .nav-item .nav-link[data-controls="main-sns4"]:after {
background-image: url('/common/images/sns-icon04.png');
}
.main-sns .nav-tabs .nav-item .nav-link:hover:after, 
.main-sns .nav-tabs .nav-item .nav-link:focus:after {
transform: rotateY(360deg);
}
.sec-sns .sec-body {
  position: relative;
  margin:30px 0 0;
 }
.main-sns section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid #D0E0F1;
    border-radius: 4px;
    padding: 20px;
    margin-top: 15px;
}
.main-sns .sec-sns-1 {
    margin-bottom: 40px;
}
.main-sns section > a {
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    margin: 20px 0;
}
.main-sns section > a .icon {
    background: #f5f5f5;
    width: 80px;
    height: 80px;
    padding: 20px 0;
    border-radius: 80px;
    margin: 0 auto 10px;
}
.main-sns section > a:hover .icon, .main-sns section > a:focus .icon {
	box-shadow: 0 0 10px rgb(86 86 92 / 25%);
}
.main-sns section > a .icon > img {
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}
.main-sns section > a:hover .icon > img, .main-sns section > a:focus .icon > img {
    transform: rotateY(360deg);
    transition-duration: .4s;
}
.main-sns section > a span {
    font-size: 15px;
    color: #888;
}
.main-sns section > a:hover span, .main-sns section > a:focus span {}

@media (max-width: 480px) {
	.main-sns section > a {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
}
@media (min-width: 768px) {
	.main-sns section {padding: 32px 20px;}
	.main-sns section > a {margin:0;}
	.main-sns .sec-sns-1 {margin-bottom:0;}
}



/*챗봇 이미지 적용*/
.chatbot-wrapper{
	bottom: 40px;
	position: fixed;
	z-index: 9999;
	border-radius: 50%;
}

.chatbot-wrapper.right{
	right: 40px;
}


.chatbot-button{
	width: 100px;
	height: 100px;
	background: #fff0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	/*padding: 0px;*/
	border: 0px solid rgb(47,110,141);
}


.chatbot-img{
	background-image: url("/common/images/chatbot/chatbot.png");
	background-size: contain;
	background-position: bottom;
	position: fixed;
}

.chatbot-img-on{
	background-image: url("/common/images/chatbot/chatbot-on.png");
	background-size: contain;
	background-position: bottom;
	position: fixed;
	display: none;	
}

.chatbot-button:hover .chatbot-img-on{
	display: block;
}