@charset "utf-8";

/* type05-파노 */

:root{
    --gnb-color-01: 1, 157, 216; /* #019dd8 */
    --gnb-color-01-light: 77, 207, 254; /* #4dcffe */
    --gnb-color-01-hover: 1, 130, 178; /* #0182b2 */
    --gnb-color-01-dark: 1, 75, 101; /* #014b65 */
    --gnb-color-02:244, 191, 0; /* #f4bf00 */
    --gnb-color-02-light: 255, 222, 102; /* #ffde66 */
    --gnb-color-02-hover: 204, 160, 0; /* #cca000 */
    --gnb-color-02-dark: 102, 80, 0; /* #665000 */
    
    --point-color: 241, 65, 50; /* #f14132 - point */
    --point-color-01: 0, 83, 126; /* #00537e - 주컬러 */
    --point-color-01-light:151, 185, 202; /* #97b9ca */
    --point-color-01-hover: 0, 68, 102; /* #004466 */
    --point-color-01-dark: 0, 34, 51; /* #002233 */
}