@charset "utf-8";

/* type04-보라민트 */

:root{
    --gnb-color-01: 85, 75, 160; /* #554ba0 */
    --gnb-color-01-light: 141, 134, 198; /* #8d86c6 */
    --gnb-color-01-hover: 74, 65, 139; /* #4a418b */
    --gnb-color-01-dark: 46, 41, 87; /* #2e2957 */
    --gnb-color-02: 0, 180, 141; /* #00b48d */
    --gnb-color-02-light: 0, 230, 180; /* #00e6b4 */
    --gnb-color-02-hover: 0, 153, 120; /* #009978 */
    --gnb-color-02-dark: 0, 51, 40; /* #003328 */
    
    --point-color: 241, 65, 50; /* #f14132 - point */
    --point-color-01: 83, 73, 156; /* #53499c - 주컬러 */
    --point-color-01-light:186, 182, 215; /* #bab6d7 */
    --point-color-01-hover: 65, 57, 121; /* #413979 */
    --point-color-01-dark: 56, 49, 104; /* #383168 */
}