@charset "utf-8";

/*#################### 공통 영역 ####################*/

/********** Header **********/

#header {    
    background: rgb(var(--point-color-01));
}
@media (min-width: 768px) {
    #header {
        background-color: rgb(var(--point-color-01));
    }
}
.top-search-box .search-btn {    
    background-color: rgb(var(--gnb-color-01-dark));
}
.top-menu-list .auth-btn {
    background-color: rgb(var(--gnb-color-01-dark));    
}
.top-menu-list .auth-btn.logout {
    background: rgb(var(--gnb-color-01-dark)) url(/common/images_ses/logout.png) no-repeat center;
}
.top-menu-list .auth-btn.login {
    background: rgb(var(--gnb-color-01-dark)) url(/common/images_ses/login.png) no-repeat center;
}

.top-menu-list .alert-dropdown .btn-dropdown .badge {    
    background-color: rgb(var(--point-color));
}

.top-menu .lang-dropdown .dropdown-item.active {    
    background-color: rgb(var(--point-color-01));
}

.top-menu .dropdown .btn-dropdown:hover,
.top-menu .top-menu-link:hover {
    color: rgb(var(--point-color-01-light));    
}

/********** Root tab **********/

.root-tab-nav-list .root-tab-dropdown .root-tab-btn-list a.active {
    background-color: rgb(var(--point-color-01));
}
.dummy-tab::before {
	background-color: rgb(var(--gnb-color-01));
}

/*#################### 레이아웃 ####################*/

/********** Section **********/

.sec-1 > .sec-header .icon-box .icon-list .fav-btn.active::before {
    color: rgb(var(--gnb-color-01));
}

/*#################### 메뉴 ####################*/

/********** 좌측 메뉴 **********/

#side.on .side-menu::before {    
    background-color: rgb(var(--gnb-color-02));
}
#menu {
    background-color: rgb(var(--gnb-color-02));
}
#menu > li > [role="menuitem"]::before {
    background-color: rgb(var(--gnb-color-02-light));        
}
#menu > li > [role="menuitem"]:hover {
    background-color: rgb(var(--gnb-color-02-hover));
}
#side.on #menu > li > [role="menuitem"] {    
    background-color: rgb(var(--gnb-color-02));
}
#side.on #menu > li > [role="menuitem"][aria-haspopup="true"],
#menu > li > [role="menuitem"][aria-haspopup="true"] {
    background-color: rgb(var(--gnb-color-01));
}
#side.on #menu > li > [role="menuitem"][aria-haspopup="true"]::before,
#menu > li > [role="menuitem"][aria-haspopup="true"]::before {
    background-color: rgb(var(--gnb-color-01-light));
}
#side.on #menu > li > [role="menuitem"][aria-haspopup="true"]:hover,
#menu > li > [role="menuitem"][aria-haspopup="true"]:hover,
#menu > li > [role="menuitem"].active {
    background-color: rgb(var(--gnb-color-01-hover));
}
#menu .sub-menu-body > [role="menu"] > li > [role="menu"] > li > [role="menuitem"]::before {    
    background: rgb(var(--point-color-01));
}
#menu .sub-menu-body > [role="menu"] > li > [role="menu"] > li > [role="menu"] > li > [role="menuitem"].active {
    color: rgb(var(--gnb-color-01));
}

/*#################### 컴포넌트 ####################*/

/********** 웹스퀘어 컴포넌트 **********/

/* 탭 */

.w2tabcontrol_tabhost .w2tabcontrol_active::before {    
    background-color: rgb(var(--gnb-color-01));
}

/********** Bootstrap 컴포넌트 **********/

/* 버튼 */

.btn-primary {
    background-color: rgb(var(--point-color-01));
    border-color: rgb(var(--point-color-01));
}
.btn-primary:not(:disabled):not(.disabled):hover,
.btn-primary:not(:disabled):not(.disabled):focus {    
    background-color: rgb(var(--gnb-color-01-dark));
    border-color: rgb(var(--gnb-color-01-dark));
}
.btn-primary:not(:disabled):not(.disabled).focus,
.btn-primary:not(:disabled):not(.disabled):focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--gnb-color-01-dark), 0.5);
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: rgb(var(--gnb-color-01-dark));
    border-color: rgb(var(--gnb-color-01-dark));
    box-shadow: 0 0 0 0.2rem rgba(var(--gnb-color-01-dark), 0.5);
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    background-color: rgb(var(--gnb-color-01-dark));  
    border-color: rgb(var(--gnb-color-01-dark));
    box-shadow: 0 0 0 0.2rem rgba(var(--gnb-color-01-dark), 0.5);
}
.btn-outline-primary {
	color: rgb(var(--point-color-01));
    border-color: rgb(var(--point-color-01));
}
.btn-outline-primary:not(:disabled):not(.disabled):hover,
.btn-outline-primary:not(:disabled):not(.disabled):focus,
.btn-outline-primary:not(:disabled):not(.disabled).focus {
	color: white;
    background-color: rgb(var(--gnb-color-01-dark));
    border-color: rgb(var(--gnb-color-01-dark));    
    box-shadow: 0 0 0 0.2rem rgba(var(--gnb-color-01-dark), 0.5);
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
	background-color: rgb(var(--gnb-color-01-dark));
	border-color: rgb(var(--gnb-color-01-dark));
	box-shadow: 0 0 0 0.2rem rgba(var(--gnb-color-01-dark), 0.5);
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
	background-color: rgb(var(--gnb-color-01-dark));
	border-color: rgb(var(--gnb-color-01-dark));
    box-shadow: 0 0 0 0.2rem rgba(var(--gnb-color-01-dark), 0.5);
}

.btn-primary.disabled,.btn-primary:disabled {
	background-color: rgb(var(--point-color-01));
    border-color: rgb(var(--point-color-01));
}
.btn-outline-primary.disabled,.btn-outline-primary:disabled {
    color: rgb(var(--point-color-01));
    background-color: transparent;
    border-color: rgb(var(--point-color-01));
}

/* 드롭다운 */

.dropdown-item.active,
.dropdown-item:active {
    background-color: rgb(var(--point-color-01));
}

/* 모달 */

.modal-header {        
    color: rgb(var(--point-color-01));
}

/********** Custom Component **********/

/* 검색 영역 */

.search-box .b-table-box:first-child,
.search-box .w2tb:first-child {
    border-top: 3px solid rgb(var(--gnb-color-01-dark));
}








