@CHARSET "UTF-8";

.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 1000;
    opacity: 0.5;
}

.modal-wall {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000;
    filter:alpha(opacity=50);
    opacity:.5;
    cursor:pointer;
}

.modal-wall-none {
    display: block; 
    z-index: 10001; 
    opacity: 0.5;
}

.popup-wrap {
    position: absolute;
    border-radius: 4px;
    box-shadow: 4px 4px 12px #575757;
    background: #fff;
    opacity:1;
    display:none;
    overflow: hidden;
}


.notice-popup-wrap .popup-attach {
    overflow-y: auto;
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 100%;
    text-align: center;
    border-top: 1px solid #dee2e6;
    background: #fff;
    padding: 8px;
}

.notice-popup-wrap .check-box {
    bottom: 15px;
}

.notice-popup-wrap .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}
.notice-popup-wrap .form-control {
    padding: 0.375rem 0.35rem;
}

.notice-popup-wrap .custom-control {
    position: relative;
    z-index: 1;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    -webkit-print-color-adjust: exact;
    top: 6px;
}

.novisible {
    display:none;
}

.header-main .container .header-item .heading {
	cursor:pointer;
}

.breadcrumb {   
    padding-top: 18px;
    padding-bottom: 18px;
}

.header-item .text-danger {
	margin: 0 20px 0 0;
}

.header-item .text-danger:before {
	top: 2px;
}

/* multi select */
.select-wrapper {
  margin: auto;
  max-width: 600px;
  width: calc(100% - 40px);
}

.select-pure__select {
  align-items: center;
  background: #f9f9f8;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  color: #363b3e;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  justify-content: left;
  min-height: 36px;
  padding: 5px 10px;
  position: relative;
  transition: 0.2s;
  width: 100%;
}

.select-pure__select.disabled{
	background: #e1e1e1;
}

.select-pure__options {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  color: #363b3e;
  display: none;
  left: 0;
  max-height: 221px;
  overflow-y: scroll;
  position: absolute;
  top: 35px;
  width: 100%;
  z-index: 5;
}

.select-pure__select--opened .select-pure__options {
  display: block;
}

.select-pure__options.hide{
	    display: none;
}

.select-pure__option {
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  box-sizing: border-box;
  /* height: 44px; */
  line-height: 25px;
  padding: 10px;
}

.select-pure__option--selected {
  color: #e4e4e4;
  cursor: initial;
  pointer-events: none;
}

.select-pure__option--hidden {
  display: none;
}

.select-pure__selected-label {
  background: #5e6264;
  border-radius: 4px;
  color: #fff;
  cursor: initial;
  display: inline-block;
  margin: 5px 10px 5px 0;
  padding: 3px 7px;
}

.select-pure__selected-label:last-of-type {
  margin-right: 0;
}

.select-pure__selected-label i {
  cursor: pointer;
  display: inline-block;
  margin-left: 7px;
}

.select-pure__selected-label i:hover {
  color: #e4e4e4;
}

.select-pure__autocomplete {
  background: #f9f9f8;
  border-bottom: 1px solid #e4e4e4;
  border-left: none;
  border-right: none;
  border-top: none;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
}

.header-item .heading {
	cursor:pointer;
}

.btn-box-right {
	justify-content: flex-end;
}

.menubar-main {
	cursor:pointer;
}

.pointer {
	cursor:pointer;
}

.b-table-box .b-title-box {
	text-align: right;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.sliderpointer {
	text-align:center;
	border-color:#fff;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -0.2em !important;
}

.ui-slider {
	height: 1px;
}

.ui-slider span{
	background-color:#007fff !important;
}

.slidetxt {
	margin-bottom : 5px;
	width: 100%;
}

.bootstrap-datetimepicker-widget table td.weekend {
    color: #d90c20;
}

.bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
    color: #dbdcdc !important;
}

.bootstrap-datetimepicker-widget li.picker-switch {
    border-top: 1px solid #ced4da;
}